BOT_TOKEN=123456:ABC-DEF... # Token from @BotFather
CHAT_ID=543210987 # Telegram ID for notifications
HTTP_PROXY=http://127.0.0.1:1111 # Optional proxy for telegram connection

DEBUG_MODE=True # Optional for debug

BANNED_LOG_PATH=/var/log/banned.log # Path to banned users log
